
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; Hike Utah 2017 | <a href="/hikes">View All Hikes</a> | <a href="/hikes/new">New Hike</a></p>
          </div>
        </footer>
    </body>
</html>