.thumbnail img {
      width: 100%;
}

.thumbnail {
    padding: 0;
    min-height: 300px;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

h1 {
    text-align: center;
}

.auth {
    width: 30%; 
    margin: 25px auto;
}

.comment {
    width: 30%; 
    margin: 25px auto;
}
